<div class="row">
    <h3
      class="text-danger text-center mt-5 w-100"
    >
      Your cart is Empty!
    </h3>
    <table
      v-if="cartContent.length > 0"
      class="table table-striped text-center"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td> {{product.id}}</td>
          <td> {{product.title}}</td>
          <td> {{product.price}}</td>
        </tr>
        <tr>
          <th colspan="2">Total</th>
          <th >currencyFormatter(getTotalPrice)</th>
        </tr>
        <tr>
          <th colspan="2">Taxes</th>
          <th>currencyFormatter(getTotalPrice * 0.1)</th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">Grand Total</th>
          <th>
             currencyFormatter(getTotalPrice + getTotalPrice * 0.1) 
          </th>
        </tr>
      </tfoot>
    </table>
  </div>