<form>
  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
  <input type="text" class="form-control" placeholder="user name" required />
  <input
    type="email"
    class="form-control"
    placeholder="name@example.com"
    required
  />
  <input type="password" class="form-control" placeholder="Password" required />
  <input
    type="password"
    class="form-control"
    placeholder="Password Confirm"
    required
  />

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
</form>
