<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">eCommerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shopping Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ userName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">myProfile</a></li>
            <li><a class="dropdown-item" href="#">logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="enteredValue"
        />
        <button
          class="btn btn-outline-light"
          type="submit"
          (click)="searchData()"
          >Search</button>
         <p>{{matchedProduct | json }}</p>-->
      </form>
    <!--
      <div class="card" ng-show="!enteredValue.length">
  <img [src]="matchedProduct.photo" class="card-img-top" alt="product image" />
  <div class="card-body">
    <h5 class="card-title">{{ matchedProduct.title }}</h5>
    <p class="card-text">
      {{ matchedProduct.details }}
    </p>
    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-success">Add to Cart</a>
      <span class="badge bg-info text-dark">{{ matchedProduct.price }} EGP</span>
    </div>
  </div>
</div>

-->

    </div>
  </div>
</nav>
