#featureFood {
  background-color: #f8f9fa;
}
#featureFood .h-400 {
  height: 400px;
}
#featureFood .bg-white {
  background: #fff;
}
#featureFood .featureFood-title {
  margin: 2em 0;
  font-size: 50px;
  color: #000;
  font-family: "Playfair Display", serif;
}
#featureFood .featureFood-title .featureFood-title-subtitle {
  font-size: 20px;
  font-weight: 300;
  font-family: roboto, sans-serif;
}
#featureFood .featureFood-item {
  font-family: "Playfair Display", serif;
}
#featureFood .featureFood-item .featuredFood-item-img-wrapper {
  height: 400px;
}
#featureFood .featureFood-item h3 {
  font-size: 14px;
  color: #ff7a5c;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
#featureFood .featureFood-item h4 {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
img{
  background-repeat: no-repeat;
}
