<app-navbar></app-navbar>
  <router-outlet></router-outlet>
<app-footer></app-footer>


<!-- Nadine Landing Page -->
<!-- <div class="main-container">
  <div class="title text-center position-absolute">SHOPIFY</div>
  <app-menu></app-menu>
  <app-slider></app-slider>
  <app-featured-products></app-featured-products>
  <app-social-feed></app-social-feed>
  <app-our-partners></app-our-partners>
  <app-our-products></app-our-products>
</div> -->



<!-- Magdy Form -->
<!-- <app-navbar></app-navbar>
<main class="form-signin">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer> -->
