<app-navbar userName="Mohamed Zayan"></app-navbar>
<!-- <app-home></app-home> -->
<!-- <app-dashboard-home></app-dashboard-home>  -->


<!-- <div class="main-container">
  <div class="title text-center position-absolute">SHOPIFY</div>
  <app-menu></app-menu>
  <app-slider></app-slider>
  <app-featured-products></app-featured-products>
  <app-social-feed></app-social-feed>
  <app-our-partners></app-our-partners>
  <app-our-products></app-our-products>
</div> -->

<router-outlet></router-outlet>

<app-footer></app-footer>