<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>John Doe</h4>
                                <p class="text-secondary mb-1">More Info</p>
                                <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                                <button class="btn btn-outline-primary">Edit Profile picture</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="mb-3">Full Name</h4>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Kenneth Valdez
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Email</h4>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="mb-0">Phone</h4>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <a class="btn btn-info btn-block" target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a> -->
                                <button class="btn btn-outline-primary">Edit Your Information</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <mat-accordion multi> 
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is the expansion title
                                </mat-panel-title>
                                <mat-panel-description>
                                    This is a summary of the content
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the primary content of the panel.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is the expansion title
                                </mat-panel-title>
                                <mat-panel-description>
                                    This is a summary of the content
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the primary content of the panel.</p>
                        </mat-expansion-panel><mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    This is the expansion title
                                </mat-panel-title>
                                <mat-panel-description>
                                    This is a summary of the content
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the primary content of the panel.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                              </div>



            </div>
        </div>

    </div>
</div>