<button class="menu-toggler"
[ngClass]="{'site-menu-showed': showMenu}"
(click)="toggleMenu()">

</button>
<div class="menu position-fixed"
[ngClass]="{'site-menu-show': showMenu}"
>
    <ul>
        <li>
            <button class="btn btn-primary">Register</button>
        </li>
        <li>
            <p>Already have an account?</p>
            <button class="btn btn-primary">Login</button>
        </li>
        <li>
            <p><a>Home</a></p>
        </li>
        <li>
            <p><a>Cart</a></p>
        </li>
        <li>
            <p><a>About Us</a></p>
        </li>
        <li>
            <p><a>Contact Us</a></p>
        </li>
    </ul>
</div>
