<button class="menu-toggler"
[ngClass]="{'site-menu-showed': showMenu}"
(click)="toggleMenu()">

</button>
<div class="menu position-fixed"
[ngClass]="{'site-menu-show': showMenu}"
>
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <p><a routerLink="/shoppingCart">Cart</a></p>
        </li>
        <li>
            <p>Already have an account?</p>
            <a routerLink="/login">login</a>
        </li>
        <li>
            <p><a routerLink="/register">register</a></p>
        </li>

    </ul>
</div>
